<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.charlie.ivotytower"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="view.Guan_yu"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="view.Slindingmenu"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="view.Deguo"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="view.Guan_iv"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="view.Huodong"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="view.Nvs"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="view.Shij"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="view.Student"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="view.Zhic"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="view.Detailnews"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
